.first.text::first-line {
    text-transform: uppercase;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 1.25;
    text-align: justify;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

.strong {
    font-weight: bold;
}

ol .text {
    margin: 1em 0;
    padding: 0;
}