body {
  line-height: 1.75;
}
.header{
  min-width: 28em;
  background-color: rgba(95,121,149,1);
  display: flex;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}
.header_name{
  display: block;
  max-width: 28em;
  height: 0.8em;
  font-family: 'Montserrat', sans-serif;/*Этого шрифта нет в fonts*/
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1;
  color: white;
}
a {
  text-decoration: none;
}
.main {
  /*display: block;*/
  max-width: 28em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  /*font-family: "MinionPro_medium", sans-serif;
  line-height: 1.65; Прописывается в медиазапросе*/
}
.chapter-name {
  letter-spacing: 0.025em;
  min-height: 2em;
  border-bottom: 0.25em solid rgba(95,121,149,0.5);
  /*font-size: 2.25em;*/
  font-size: calc( 2.25em + (11.25 - 2.25) * ( (100vw - 20em) / ( 100 - 20) ));
}
.chapter-three {
  display: block;
  font-size: 0.5em;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.3em;
  margin-bottom: 1em;
  /*font-size: calc( 1em + (7 - 1) * ( (100vw - 20em) / ( 100 - 20) ));*/
}
.text{ 
  font-size: calc( 1.5 + (4.5 - 1.5) * ( (100vw - 20em) / ( 100 - 20) ));
  /*letter-spacing: 0.1em;*/
  line-height: 1.75;
  /*text-align: justify;*/
  margin: 2em 0;
}
main > p:first-of-type::first-line {
  font-variant: small-caps;
  font-size: 1.5em;
  /*font-size: calc( 1.5 + (4.5 - 1.5) * ( (100vw - 20em) / ( 100 - 20) ));*/
  line-height: 1.25;
  letter-spacing: 0.1em;
  text-align: justify;
}
/*@media all and (min-width: 100em) {
  main > p:first-of-type::first-line {
      font-size: 2.25em; /* 72px @ root em of 2.5 (72/40) 
  }
}
main > p:first-of-type cite {
  white-space: pre;
}*/
.img-container {
  max-width: 28em;
  display: flex;
  /*flex-wrap: wrap;
  justify-content: center;*/
  align-items: flex-start;
  margin: 2em -1em;
  /*align-items:flex-start;*/
  /*margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;*/
}
.img {
  /*display: block;*/
  border: none;
  width: 100%;
}
.img-caption {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  /*font-size: 0.8125em;*/
  font-size: calc( 13px + (26 - 13) * ( (100vw - 320px) / ( 1600 - 320) ));
  margin: 1em;
}
.sub-title {
  /*font-size: 1.5em;*/
  font-size: calc( 1.5em + (4.5 - 1.5) * ( (100vw - 20em) / ( 100 - 20) ));
  line-height: 1.125;
  margin-top: 6rem;
}

@media all and (min-width: 30em) {
  body {
      line-height: 1.55;
  }
}
@media all and (min-width: 40em) {
  body {
      line-height: 1.6;
  }
  .img {
    border: none;
    width: 49%;
  }
}
@media all and (min-width: 50em) {
  body {
      line-height: 1.65;
  }
}
@media all and (min-width: 60em) {
  body {
      line-height: 1.7;
  }
}
@media all and (min-width: 70em) {
  body {
      line-height: 1.75;
  }
}