@import url(chapter1.css);

.small-caps {
text-decoration: none;
font-family: inherit;
font-variant: all-small-caps;
}
.dotted {
    list-style-type: disc;
}
.dotted .text {
    margin: 1em;
    padding: 0;
}
.part-six, .part-seven, .part-eight, .part-nine {
    line-height: 1.65;
}
.first.text::first-line {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 1.65;
    font-size: calc( 0.8em + (1.9 - 0.8) * ( (100vw - 20em) / ( 100 - 20) ));
}
.big-letter {
    font-size: calc(20px + (60 - 20) * ( (100vw - 320px) / (1904 - 320) ));
    font-weight: normal;
}
  /*add small-caps and italics, check styles and ul dotts to be in-order*/