/* Файл для общих стилей, которые 
нужны на более чем одной странице  */
@import url(normalize.css);

@charset "UTF-8";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
/* стили 1 главы*/
html {
  width: 100vw;
  height: 100vh;
  /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
  font-size: calc( 1em + (2 - 1) * ( (100vw - 20em) / ( 100 - 20) ));
}
}
* {
  box-sizing: border-box;
  min-width: min-content;
}
@font-face {
  font-family: "Bold";
  src: url(../Fonts/bold-line-figures.ttf);
}
@font-face {
  font-family: "Italic-old";
  src: url(../Fonts/italic-old-style-figures.ttf);
}
@font-face {
  font-family: "Roman";
  src: url(../Fonts/roman-line-figures.ttf);
}
@font-face {
  font-family: "Roman-old";
  src: url(../Fonts/roman-old-style-figures.ttf);
}
@font-face {
  font-family: "Semi-bold";
  src: url(../Fonts/semi-bold-old-style-figures.ttf);
}
.header {
	background-color: rgba(95,121,149,1);
}
.design {
  display: flex;
  max-width: 28em;
  margin-left: auto;
  margin-right: auto;
}
.page-name {
  text-transform: uppercase;
  font-family: "Roman-old";
  letter-spacing: 0.2em;
  color: white;
  font-size: calc( 1em + (1.5 - 1) * ( (100vw - 20em) / ( 100 - 20) ));
}
.chapter-name {
  max-width: 28em;
  margin-left: auto;
  margin-right: auto;
  min-height: 2em;
}
.chapter-one {
  font-family: "Roman";
  font-weight: lighter;
  text-transform: lowercase;
  letter-spacing: 0.3em;
  font-size: 0.5em;
  font-size: calc( 35px + (70 - 35) * ( (100vw - 320px) / (1904 - 320) ));
} /* сделать шрифт более резиновым (в сторону уменьшения)*/
.foundations {
  font-family: "Roman";
  letter-spacing: 0.025em;
  font-weight: normal;
  font-size: calc( 75px + (150 - 75) * ( (100vw - 320px) / (1904 - 320) ));
}
.main {
  display: block;
  max-width: 28em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.stripe {
  background-color: rgba(95,121,149,0.5);
  min-height: 3vw;
  max-width: 28em;
}
.sub-title {
  font-family: "Roman-old";
  font-size: calc( 1.5em + (4.5 - 1.5) * ( (100vw - 20em) / ( 100 - 20) ));
  font-weight: normal;
  margin-top: 6rem;
}
.part-one, .part-two, .part-three, .part-four, .part-five {
  line-height: 1.7;
}
ul {
  padding: 0;
  list-style-type: none;
  font-family: "Roman-old";
}
.history {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}
.big-letter {
  font-size: calc(20px + (50 - 20) * ( (100vw - 320px) / (1904 - 320) ));
}
.italic {
  font-family: "Roman-old";
  font-style: italic;
  font-weight: normal;
}
.text {
  margin: 2em 0;
}
.before-img {
  padding-bottom: 5vw;
}
/* поправить начиная отсюда т до*/
.after-img1, .after-img2, .after-img3, .after-img4, .after-img5, .after-img6 {
  padding-top: 3vw;
  font-size: 15px;
}
.after-img1, .after-img2, .after-img3, .after-img4, .after-img5 {
  display: flex;
  justify-content: center;
}
.img1 {
  display: flex;
  margin: auto;
  max-width: 475px;
  background-position: center;
  background-size: cover;
}
.img2 {
  display: flex;
  margin: auto;
  max-width: 430px;
  background-position: center;
  background-size: cover;
}
.img3 {
  display: flex;
  margin: auto;
  max-width: 475px;
  background-position: center;
  background-size: cover; 
}
.img4 {
  display: flex;
  margin: auto;
  max-width: 480px;
  background-position: center;
  background-size: cover;
}
.img5 {
  display: flex;
  margin: auto;
  max-width: 474px;
  background-position: center;
  background-size: cover;
}
.img6 {
  display: flex;
  margin: auto;
  max-width: 484px;
  background-position: center;
  background-size: cover;
}
small {
  font-size: inherit;
  display: block
}
/* cюда*/
.references {
  max-width: 26em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  line-height: 1em;
}
.links {
  text-align: left;
  cursor: pointer;
  color: rgba(204,0,0,0.9);
  transition: color 0.25s, background-color 0.25s;
}
.names {
  cursor: pointer;
  text-align: right;
}
.links:hover {
  color: white;
  background-color: rgba(204,0,0,0.9);
}
.next-chapter { /* add infinite borders*/
  height: 90px;
  background-color: white;
  border-top: 1px solid rgba(204,0,0,0.9);
  border-bottom: 1px solid rgba(204,0,0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-top: 10vw;
}
.chapters li {
  height: 66px;
  padding: 0 2vw 0 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dotted-line {
 /*max-width: none;
  display: block;
  margin-left: none;
  margin-right: none;
  margin: none;
  padding: none;*/
  border-top: 1px dotted rgba(0,0,0,0.2);
}
.line {
  font-family: "Italic-old";
  font-weight: bold;
  color: rgba(204,0,0,0.9);
  transition: 0.25s;
}
.line:hover {
  color: white;
  background-color: rgba(204,0,0,0.9);
}
.chapter-no {
  font-family: "Roman";
  font-weight: lighter;
  text-transform: lowercase;
  letter-spacing: 3px;
}
.footer {
  height: 260px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  padding: 1em;
}
.footer-container {
  max-width: 28em;
  margin: 2em 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7;
  color: white;
}
.red {
  color: rgba(255,51,51,0.9);
}
@media screen and (min-width: 600px) {
  .img {
    margin: 2em -1em;
    display: flex;
    justify-content: space-around;
  }
  .img.three, .img.six {
  flex-direction: row-reverse;
  }
  .after-img1, .after-img2, .after-img3, .after-img4, .after-img5, .after-img6 {
    flex-basis: 50%;
    margin: 1em;
    text-align: left;
    font: caption;
    align-self: flex-start;
    padding: 0;
  }
  .after-img6, .after-img3 {
    text-align: right;
  }
}