@import url(chapter1.css);

.small-caps {
text-decoration: none;
font-family: inherit;
font-variant: all-small-caps;
}
.dotted {
    list-style-type: disc;
}
.part-six, .part-seven, .part-eight, .part-nine {
    line-height: 1.65;
  }
  /*add small-caps and italics, check styles and ul dotts to be in-order*/