@font-face {
    font-family: "MinionPro_medium";
    font-display: swap;
    src: url("../font-minio/MinionPro-Medium.eot");
    src: url("../font-minio/MinionPro-Medium.woff") format("woff"), url("../font-minio/MinionPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MinionPro_medium_it";
    font-display: swap;
    src: url("../font-minio/MinionPro-MediumIt.eot");
    src: url("../font-minio/MinionPro-MediumIt.woff") format("woff"), url("../font-minio/MinionPro-MediumIt.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MinionPro_regular";
    font-display: swap;
    src: url("../font-minio/MinionPro-MediumIt.eot");
    src: url("../font-minio/MinionPro-MediumIt.woff") format("woff"), url("../font-minio/MinionPro-MediumIt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MinionPro_semibold";
    font-display: swap;
    src: url("../font-minio/MinionPro-Semibold.eot");
    src: url("../font-minio/MinionPro-Semibold.woff") format("woff"), url("../font-minio/MinionPro-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "MinionPro_semibold_it";
    font-display: swap;
    src: url("../font-minio/MinionPro-SemiboldIt.eot");
    src: url("../font-minio/MinionPro-SemiboldIt.woff") format("woff"), url("../font-minio/MinionPro-SemiboldIt.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url('../font-futura/FuturaDemiC.eot');
    src: url('../font-futura/?#iefix') format('embedded-opentype');
    src: url('../font-futura/FuturaDemiC.woff') format('woff'), url('../font-futura/FuturaDemiC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('../font-futura/FuturaMediumC.eot');
    src: url('../font-futura/FuturaMediumC.eot?#iefix') format('embedded-opentype');
    src: url('../font-futura/FuturaMediumC.woff') format('woff'), url('../font-futura/FuturaMediumC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}