@font-face {
    font-family: "MinionPro_medium";
    font-display: swap;
    src: url("../fonts/MinionPro-Medium.eot");
    src: url("../fonts/MinionPro-Medium.woff") format("woff"), url("../fonts/MinionPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MinionPro_medium_it";
    font-display: swap;
    src: url("../fonts/MinionPro-MediumIt.eot");
    src: url("../fonts/MinionPro-MediumIt.woff") format("woff"), url("../fonts/MinionPro-MediumIt.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MinionPro_regular";
    font-display: swap;
    src: url("../fonts/MinionPro-MediumIt.eot");
    src: url("../fonts/MinionPro-MediumIt.woff") format("woff"), url("../fonts/MinionPro-MediumIt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MinionPro_semibold";
    font-display: swap;
    src: url("../fonts/MinionPro-Semibold.eot");
    src: url("../fonts/MinionPro-Semibold.woff") format("woff"), url("../fonts/MinionPro-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "MinionPro_semibold_it";
    font-display: swap;
    src: url("../fonts/MinionPro-SemiboldIt.eot");
    src: url("../fonts/MinionPro-SemiboldIt.woff") format("woff"), url("../fonts/MinionPro-SemiboldIt.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url('../fonts/futura/');
    src: local('Futura Demi Cyrillic'), local('FuturaDemiC'), url('../fonts/futura/?#iefix') format('embedded-opentype'), url('../fonts/futura/FuturaDemiC.woff') format('woff'), url('../fonts/futura/FuturaDemiC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('../fonts/futura/FuturaMediumC.eot');
    src: local('Futura Medium Cyrillic'), local('FuturaMediumC'), url('../fonts/futura/FuturaMediumC.eot?#iefix') format('embedded-opentype'), url('../fonts/futura/FuturaMediumC.woff') format('woff'), url('../fonts/futura/FuturaMediumC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}