html {
    font-size: 1em;
    font-size: calc(1em + (2 - 1) * ((100vw - 20em) / (100 - 20)));
}

body {
    margin: 0;
    padding: 0;

    font-family: "Times New Roman", Times, serif;
}

.header {
    margin: 0;
    padding: 1em;
    background-color: rgba(95, 121, 149, 1);
    color: #fff;
}

.header__link {
    text-decoration: none;
    color: inherit;
}

.header__wrap {
    display: block;
    margin: 0 auto;
    max-width: 28em;
    min-height: calc(100vh - 2em);
}

.header__title {
    font-size: 2.5em;
    font-size: calc(2.25em + (11.25 - 2.25) * ((100vw - 20em) / (100 - 20)));
    font-weight: normal;
    line-height: 1.125;

    margin: 0;
}

.header__author {
    font-size: 1.5em;
    font-size: calc(1.5em + (4.5 - 1.5) * ((100vw - 20em) / (100 - 20)));
    font-weight: normal;
    line-height: 1.125;

    margin: 6rem 0 0;
}

.red-link {
    text-decoration: none;
    color: red;

    transition-duration: 0.3s;
    transition-property: color, background-color;
}

.red-link:hover {
    background-color: red;
    color: white;
}

.red-link > span {
    font-variant: all-small-caps;
}

.main {
    padding: 1em;
    line-height: 1.8;
}

.main__wrap {
    display: block;
    margin: 0 auto;
    max-width: 28em;
}

.formats-title {
    font-weight: normal;
    font-size: 1.5em;
    font-size: calc(1.5em + (2 - 1.5) * ((100vw - 20em) / (100 - 20)));
    margin: 2.5em 0 0;
}

.formats-paragraph {
    margin: 1em 0;
}

.formats-paragraph:first-line {
    text-align: justify;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: 0.1em;
}

.audio-title {
    font-weight: normal;
    font-size: 1.5em;
    font-size: calc(1.5em + (2 - 1.5) * ((100vw - 20em) / (100 - 20)));

    margin: 2.5em 0 0;
}

.audio-paragraph {
    margin: 1em 0;
}

@media (min-width: 100em) {
    .header__title {
        font-size: 5.625em;
    }
    .header__author {
        font-size: 2.25em;
    }

    .formats-title,
    .audio-title {
        font-size: 2em;
    }

    .formats-paragraph,
    .audio-paragraph {
        font-size: 1em;
    }

    .formats-paragraph:first-line {
        font-size: 2em;
    }
}
