@import url(footer.css);

html {
    font-size: 1em;
    font-size: calc(1em + (2 - 1) * ((100vw - 20em) / (100 - 20)));
}

body {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0;
    padding: 1em;
    background-color: rgba(95, 121, 149, 1);
    color: #fff;
}

.header__link {
    text-decoration: none;
    color: inherit;
}

.header__wrap {
    display: block;
    margin: 0 auto;
    max-width: 28em;
    min-height: calc(100vh - 2em);
}

.header__title {
    font-family: "MinionPro_medium";
    font-size: 2.5em;
    font-size: calc(2.25em + (11.25 - 2.25) * ((100vw - 20em) / (100 - 20)));
    font-weight: normal;
    line-height: 1.125;
    margin: 0;
}

.header__author {
    font-size: 1.5em;
    font-size: calc(1.5em + (4.5 - 1.5) * ((100vw - 20em) / (100 - 20)));
    font-weight: normal;
    line-height: 1.125;
    margin: 6rem 0 0;
}

.red-link {
    text-decoration: none;
    color: rgba(204, 0, 0, 0.9);
    transition-duration: 0.3s;
    transition-property: color, background-color;
}

.red-link:hover {
    background-color: rgba(204, 0, 0, 0.9);
    color: white;
}

.red-link > span {
    font-variant: all-small-caps;
}

.main {
    padding: 1em;
    line-height: 1.8;
}

.main ::selection {
    background-color: rgba(95, 121, 149, 1);
    color: white;
}

.main__wrap {
    display: block;
    margin: 0 auto;
    max-width: 28em;
}

.formats-title {
    font-family: "MinionPro_medium";
    font-weight: normal;
    font-size: 1.8em;
    font-size: calc(1.8em + (2 - 1.8) * ((100vw - 20em) / (100 - 20)));
    margin: 2.5em 0 0;
}

.formats-paragraph {
    margin: 1em 0;
    font-family: "MinionPro_medium";
}

.formats-paragraph:first-line {
    text-align: justify;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: 0.1em;
}

.audio-title {
    font-family: "MinionPro_medium";
    font-weight: normal;
    font-size: 1.5em;
    font-size: calc(1.5em + (2 - 1.5) * ((100vw - 20em) / (100 - 20)));
    margin: 2.5em 0 0;
}

.audio-paragraph {
    font-family: "MinionPro_medium";
    margin: 1em 0;
}

.aside__wrap {
    display: block;
    margin: 0 auto;
    max-width: 28em;
}

.aside__title {
    font-weight: normal;
    font-family: "MinionPro_medium";
    font-size: 1.5em;
    font-size: calc(1.5em + (2 - 1.5) * ((100vw - 20em) / (100 - 20)));
}

.aside__cite {
    position: relative;
    font-family: "MinionPro_regular";
}

.aside__cite::before {
    content: "‘‘";
    position: absolute;
    top: -0.5em;
    left: -0.45em;
    font-size: 4em;
    color: rgba(0, 0, 0, 0.25);
}

.aside__cite::after {
    content: "’’";
    position: absolute;
    bottom: -1em;
    font-size: 4em;
    color: rgba(0, 0, 0, 0.25);
}

.aside__block {
    display: flex;
    margin: 2.5em -1em;
    align-items: flex-start;
}
.aside__block:nth-child(2n) .aside__author {
    text-align: right;
    margin-right: 2em;
}

.aside__blockquote {
    margin: 0 1.5em;
    font-style: italic;
}

.aside__author {
    margin: 0.2em 1em 1em;
    flex-basis: 50%;
    padding: 0;
    padding-top: 10px;
}

.aside__author-name {
    line-height: 1;
    padding: 0;
    font: caption;
}

.order-two {
    order: 2;
}

@media (min-width: 100em) {
    .header__title {
        font-size: 5.625em;
    }
    .header__author {
        font-size: 2.25em;
    }

    .formats-title,
    .audio-title {
        font-size: 2em;
    }

    .formats-paragraph,
    .audio-paragraph {
        font-size: 1em;
    }

    .formats-paragraph:first-line {
        font-size: 2em;
    }
}

@media (max-width: 30em) {
    .aside__block {
        flex-direction: column;
    }

    .order-two {
        order: 0;
    }

    .aside__author {
        margin: 0.2em auto;
    }

    .aside__block:nth-child(2n) .aside__author {
        text-align: right;
        margin: auto;
    }
}
